<h1 class="center">bienvenue dans l'arène</h1>
<div class="container">
  <form   #pokemonDuelForm="ngForm">
  <div class="row">
    <!-- <div class="row"> -->
        <div class="col s1"> </div>
        <div class="col s4">
                <div >
                  <label>Player 1</label>
                    <select class="browser-default " name="player1"  [(ngModel)]="player1Id" 
                    #player1="ngModel">
                      <option  value="" disabled selected>choisir un pokemon</option>
                      <option *ngFor='let pokemon of pokemons' value="{{pokemon.id}}" (click)="displayPicture(pokemon.picture,1)" >{{ pokemon.name }}</option>
                    </select>
                  </div>
                  <div >
                    <img *ngIf="pictureUrl1" [src]="pictureUrl1">  
                  </div>
        </div>
        <div class="col s2">
          <h5 class="center"> 
            VS
          </h5>
        </div>
        <div class="col s4">
            <div >
              <label>Player 2</label>
              <select class="browser-default "name="player2" [(ngModel)]="player2Id" 
              #player2="ngModel" >
                <option value="" disabled selected>choisir un pokemon</option>
                <option *ngFor='let pokemon of pokemons' value="{{pokemon.id}}" (click)="displayPicture(pokemon.picture,2)" >{{ pokemon.name }}</option>
              </select>
              </div>
              <div >
                <img *ngIf="pictureUrl2" [src]="pictureUrl2">  
              </div>
        </div>
        <div class="col s1"> </div>
    </div>
  </form>
  <div class="divider"></div>
  <div class="section center">
    <button (click)="figth()"
      class="waves-effect waves-light btn"
      [disabled]="!valid">
      Combattre
    </button>
  </div>

    <div class=" center">

      
      
    <!-- <div *ngFor='let pokemon of pokemons' class="col s6 m4">
      <div class="card horizontal" (click)="selectPokemon(pokemon)" pkmnBorderCard="yellow">
        <div class="card-image">
          <img [src]="pokemon.picture">  
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.name }}</p>
            <p><small>{{ pokemon.created | date: "MM/dd/yy" }}</small></p>
            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{type}}</span>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

